<div class="modal-header">
	<h3 class="modal-title text-primary">Typer</h3>
</div>
<div class="modal-body container-fluid">
	<textarea class="input-lg col-md-12 col-sm-12 col-xs-12 col-lg-12" name="textContent" id="textContent" rows="10" ng-model="txt" placeholder="paste in some lettery goodness..."></textarea>
</div>
<div class="modal-footer">
	<button class="btn btn-success" ng-disabled="!txt" ng-click="ok(txt)">GO</button>
	<!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
</div>